
@{
    ViewBag.Title = "Patient Registration";
    @ViewBag.Message
}

<h2>Database Test<!--Patient Registration--></h2>

<body>
    <div >
        <form>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname">
            <br><br>
            <input id="Submit1" type="submit" value="submit" />
        </form>
        

     </div>

</body>
